{{!-- Landing Page --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Organizer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <header>
            <h1>
                {{!-- <span role="img">WHERE THE LOGO GOES</span> --}}
  <div class="row">
  {{#each imageList}}
  <div class="col-md-4">
      <div class="text-success" style="font-size: large;
            font-weight: 700;">{{this.name}}</div>
         <img src="{{this.src}}">
      </div>
      {{/each}}
  </div>  
  {{!-- image end --}}
              <a class="ms-4" href="/">Atlas</a>
            </h1>
            <nav class="d-flex justify-content-end me-5">
                {{!-- if logged in in it the page will go to the dashboard with all the applications for that user --}}
                {{#if logged_in}}
                <a class="me-2"href="/profile">Profile </a> | 
                <a class="ms-2 me-2" href="/">Home</a> |
                <a class="ms-2 " href="/" id="logout"> Logout </a> 
                
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
     <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>