/* Affecting everything */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(237, 246, 255);
}

.job-create {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
}
.card-container {
  border: solid lightblue 3px;
  margin: 2em;
  border-radius: 10px;
  /* grid-template-rows: repeat(auto-fill, 120px); */
  background-color: rgb(114, 148, 241);
}
.card-heading {
  text-align: center;
  grid-column: span 4;
  color: white;
}
.card-content {
  grid-column: span 4;
  padding: 1em;
  text-align: start;
  color: white;
}
.login-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 25px;
  width: 350px;
  height: 200px;
  align-items: center;
}
.login-form {
  display: flex;
  position: absolute;
  left: 50%;
  align-content: stretch;
  justify-content: center;
}

.review-card-body {
  background-color: white;
  color: black;
}

